@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.layout {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 10px;
  padding: 20px;
}

.layout .gallery1 {
  display: grid;
  grid-template-rows: 140px auto;
  border-right: 1px solid black;
  justify-content: end;
  padding-right: 10px;
}

.item {
  width: 100%;
  height: 100%;
}

.item p {
  font-size: 50px;
  font-weight: 100;
  padding-top: 30px;
  padding-left: 30px;
}

.layout .gallery1 .bot {
  display: grid;
  grid-template-columns: repeat(3, 210px);
  grid-auto-rows: 140px;
  gap: 10px;
}

.col_span {
  grid-column: span 2;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layout .gallery2 {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(2, 210px);
  grid-auto-rows: 140px;
  gap: 10px;
}
